
body{
    font-family: Arial;
}
.boton{
    background-color: gold;
    color: black;
    font-weight: bold;
    width: 10%;
}
div{
    text-align: center;
}
#titulo{
    font-size: 3em;
}



/* body{
    background-color: blueviolet;
    background-image: url("Imagenes/1\ \(1\).jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 500px; margin: 10px;
}
div{
    width: 50%;
    margin: 10% auto;
    text-align: center;
}
input{
    margin: 3px; 
    font-size: 1.5em;
}
.caja{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    width: 100%;
    height: 25px;
}
.boton{
    width: 100%;
    background-color: #e28a2c;
    padding: 5px;
}
.boton:hover{
    background-color: #2ce28a;
}
#etiqueta{
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gold;
    text-align: left;
}
a,label{
    width: 50px;
} */