body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #dae8fc;
}

.login{
    /*border: 1px solid#E1E1E1;
    border-radius: 5px;*/
    padding: 10px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-left{
    text-align: right!important;
}

.navbar{
    background-color: #ffffff!important;
}

#contenedor-principal{
    padding-top: 1%;
}

#contenido-pagina{
    width: 100%;
    position: absolute;
    padding-right: 25%;
}

#contenido-barra{
    width: 250px;
    padding-left: 75%;
}

.sidebar-nav{
    padding-right: 30%;
    padding-top: 10%;
    list-style: none;
}

#txtCuerpo{
    height: 550px
}

@media(max-width: 400px){
    .login{
        width: 90%;
    }
}