{% extends "base.html" %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="input-group input-group-sm" style="margin-top:25px">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="{{ url_for('static', filename='lupa.png') }}"></span>
                    </div>
                    <input type="text" class="form-control fix-rounded-right" required>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 30px;margin-bottom: -27px;">

        </div>
        <div class="row margin-card" >
            <div class="col-6 offset-3">
                <div class="card">
                    <form action="/vistaBlog">
                        <div class="card-header">
                            Nombre del blog <span class="float-right"></span> 
                            <button type="submit" class="float-right btn-primary">Regresar</button>
                            </div>
                    </form>

                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing....</p>
                        <footer class="blockquote-footer footer-card">Creado por:   <cite title="Source Title">User 1</cite> (02 Diciembre 2020)</footer>
                    </blockquote>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Comentarios</p>
                            {%for r in row%}
                            <li>{{r['cuer_c']}}</li>
                            {%endfor%}
                            <form action="" name="formulario_comentario" id="formulario_comentario" method="POST">
                                <input type="text" name="Comments" id = "Comments" class="" placeholder="escríbe acá tu comentario">
                                <br><img src="{{ url_for('static', filename='editar.png') }}">
                                <input type="submit" value="Comentar" onmouseover="crearBlog2(post_id=r['id_b'])">
                            </form>       
                        </blockquote>
                        </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Bootstrap jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock %}