{% extends "base.html" %}

{% block contenido %}
    <div>
        <center>
            <form class="login" action="/">
                <label for="name">Ingresar Correo</label>
                <input name="name" type="email" value="Ingrese correo" /> 
                <br /> 
                <br /> 
                <button class="btn btn-primary" type="submit" value="Submit" onclick="alert('Verifique su correo electronico para recuperar su contraseña. Ahora será dirigido a la sesión de inicio');">Enviar Correo</button>
            </form>
        </center>
    </div>
{% endblock %}