<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="input-group input-group-sm" style="margin-top:25px">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="{{ url_for('static', filename='lupa.png') }}"></span>
                    </div>
                    <input type="text" class="form-control fix-rounded-right" required>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 30px;margin-bottom: -27px;">
            <div class="col-6 offset-3">
                <a href="{{ url_for('crearBlog2') }}" type="button" class="btn btn-primary">Crear Post</a>
            </div>
        </div>
        <div class="row margin-card" >
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-header">
                    <a href="{{ url_for('crearBlog') }}">Como diseñar páginas de blogs</a><span class="float-right"><a href="{{ url_for('actualizarBlogs',post_id=1) }}"><img src="{{ url_for('static', filename='editar.png') }}"></a> <a href="{{ url_for('eliminarBlog',post_id=1) }}"><img src="{{ url_for('static', filename='eliminar.png') }}"></a></span> 
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="font-card">Lorem ipsum dolor sit amet, consectetur adipiscing....</p>
                        <footer class="blockquote-footer footer-card">Creado por:   <cite title="Source Title">User 1</cite> (02 Diciembre 2020)</footer>
                    </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-card">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-header">
                    Hack red wifi <span class="float-right"><a href="{{ url_for('actualizarBlogs',post_id=2) }}"><img src="{{ url_for('static', filename='editar.png') }}"></a> <a href="{{ url_for('eliminarBlog',post_id=1) }}"><img src="{{ url_for('static', filename='eliminar.png') }}"></a></span>
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="font-card">Lorem ipsum dolor sit amet, consectetur adipiscing....</p>
                        <footer class="blockquote-footer footer-card">Creado por:   <cite title="Source Title">User 2</cite> (02 Diciembre 2020)</footer>
                    </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-card">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-header">
                    Comida de lata <span class="float-right"><a href="{{ url_for('actualizarBlogs',post_id=3) }}"><img src="{{ url_for('static', filename='editar.png') }}"></a> <a href="{{ url_for('eliminarBlog',post_id=1) }}"><img src="{{ url_for('static', filename='eliminar.png') }}"></a></span>
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p class="font-card">Lorem ipsum dolor sit amet, consectetur adipiscing....</p>
                        <footer class="blockquote-footer footer-card">Creado por:   <cite title="Source Title">User 3</cite> (02 Diciembre 2020)</footer>
                    </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>